# Python
__pycache__/
*.py[cod]
*.class
*.so
*.egg-info/
dist/
build/
venv/
*.venv/
env/
*.env # Important: ignore the .env file with secrets
*.log
*.sqlite3
*.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.DS_Store
